h1 {
  color: green;
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog {
  border-style: solid;
  margin: 0.4vw;
  padding: 10px;
}

.blogDetail {
  border-style: solid;
  margin: 0.4vw;
  padding: 0 10px;
}